.car-details-container {
  display: flex;
  padding: 2% 12%;
  height: 100vh;
  width: 100%;
}
.car-details-carousel {
  position: relative;
  width: 70%;
}
.carousel-button-prev-button {
  width: 50px;
  top: -40%;
  position: relative;
  opacity: 0.5;
}
.carousel-button-next-button {
  width: 50px;
  top: -40%;
  left: 90%;
  position: relative;
  opacity: 0.5;
}
.car-details-card {
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.car-details-image {
  width: 100%;
  height: 70%;
  border-radius: 8px;
  margin-bottom: 20px;
  object-fit: cover;
}

.car-details-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-details-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.car-details-description {
  font-size: 16px;
  margin-bottom: 20px;
}
.details-container-btn{
  
}
/* Miniatura das imagens */
.mini-image-thumbnails {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.mini-image-thumbnail {
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  overflow: hidden;
  transition: border-color 0.3s ease;
}

.mini-image-thumbnail.active {
  border-color: #007bff; /* Adicione a cor desejada quando ativa */
}

.mini-image-thumbnail img {
  width: 100px; /* Ajuste o tamanho das miniaturas conforme necessário */
  height: 80px; /* Ajuste o tamanho das miniaturas conforme necessário */
  object-fit: cover;
}
