.container-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.container-filtro {
  padding: 3% 12%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
