.container-NavBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-color);
  height: 6rem;
  width: 100%;
  margin: 0; 
  padding: 0 10%;
  font-size: 1.4rem;
  color: var(--primary-color);
}

.logo {
  width: 80%;
  height: auto;
}

.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.horizontal-list {
  list-style: none;
  padding: 0;
}

.horizontal-list li {
  display: inline;
  margin-right: 3rem;
}

li:hover {
  cursor: pointer;
}

ul {
  text-decoration: none;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color);
}
.dropdown-menu {
  padding: 5px;
  position: absolute;
  display: flex;
  top: 33px;
  left: 0;
  flex-direction: column;
}
.li-logout{  
  position: relative;
  
}
.dropdown-content{
  margin: 5px 0;
}
.dropdown-content:hover{
  cursor: pointer;
  font-weight: bold;
}

